<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="nodeJS Template">
<meta name="author" content="Manjit Kumar">

<!-- styles -->
<link href="/public/libs/css/bootstrap.css" rel="stylesheet">
<link href="public/css/style.css" rel="stylesheet">